* {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #01142F;
}

.main-container {
    max-width: 800px;
}

.input-block {
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}



#input_task {
    width: 75%;
    height: 5vh;
    border: 0.4vh solid #00CF91;
    border-radius: 1.3vh;
    font-size: 2.5vh;
    padding: 0 1vh;
}

#add_task {
    width: 15%;
    height: 5vh;
    background-color: #00CF91;
    border: 0.4vh solid #00CF91;
    border-radius: 1.3vh;
    font-size: 2.5vh;
    text-align: center;
    line-height: 5vh;
    color: white;
}

#todo-list {
    padding: 1vh;
}

.todo-task {
    background-color: white;
    height: 5vh;
    border: 0.4vh solid #00CF91;
    border-radius: 1vh;
    margin-bottom: 1vh;

    font-size: 2.5vh;
    text-align: center;
    line-height: 5vh;
    color: black;

    display: flex;
    justify-content: space-between;
    padding: 0 17px;
}

.todo-task h6 {
    white-space: nowrap;
<<<<<<< HEAD
    /* запрещает перенос строк */
    overflow: hidden;
    /* обрезает все что не помещается в области */
    text-overflow: ellipsis;
    /* добавляет многоточие */
=======
   /* запрещает перенос строк */
   overflow: hidden;
   /* обрезаем все что не помещается в область  */

>>>>>>> 7607b10e9b53917f22ddd0c8df95edb6cdb68733
}

.btn-del {
    color: white;
    background-color: #F85C50;
    width: 10%;
} 

.task-complate {
    text-decoration: line-through;
    color: rgb(70, 0, 108);
}